extends layout

block content
  div.container
    h1= title

    a(href='/new') Add a Message

    ul 
      each message in messages
        li.msg-title=message.title
        li.msg-text= message.text
        li
          div.msg-info
            div.msg-user=message.user      
            div Submitted on #{message.added}
        br
